.newsletter{margin-bottom: 80px;}
.news-frame{box-shadow: 2px 14px 40px -3px rgba(0, 0, 0, 0.24);border-radius: 5px; background-color: #fff;}
.news-img-frame{position: relative;}
.news-img{border-radius: 0 5px 5px 0; width: 100%; height: 100%; object-fit: cover;}
.news-caption{position: absolute; bottom: 10px; padding: 30px;}
.news-caption::before{background: #053255;filter: blur(52px);border-radius: 5px; position: absolute; content: ""; width: 90%; height: 134px;left:30px;}
.news-caption p{font-size: 18px; font-weight: 700; line-height: 24px; color: #fff; position: relative; text-align: center; padding-top: 50px;}
.news-text-frame{display: flex; justify-content: center; align-content: center; padding: 50px;flex-direction: column;}
.news-text-frame h2{font-size:30px; font-weight: 700; line-height: 39px;}
.news-text-frame .form-control{background-color: #f3f3f3; color:#1b1b1b; font-size: 14px;}
.quote-btn{background: #0078D6;border-radius: 5px; color: #fff; padding: 6px 30px; text-transform: uppercase; font-size: 14px; font-weight: 700;}
.quote-btn:hover{background: #0b5ed7; color:#fff;}
.news-text-frame p .contact-text{color:#0078D6; text-decoration: none; padding-left: 10px; font-size: 14px;}