.server-hero{
    margin-top: 65px;
    padding: 100px 0 50px 0;
    background-color: #177a0e;
    position: relative;
    /* min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.server-hero h1 {
    font-size: 70px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 45px;
    width: 100%;
}
.server-hero li{list-style: none;padding: 0 10px;
    margin-bottom: 20px;}
.section_button .btn-pill {
    border-radius: 35px;
    background: #fff;
    color: #024173;
    font-size: 17px;
    font-weight: 400;
    border: 2px solid transparent;
    transition: all .3s linear;
    padding: 20px 45px;
}
.section_button .btn-blue {
    border-radius: 35px;
    background: #024173;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    border: 2px solid transparent;
    transition: all .3s linear;
    padding: 20px 45px;
}
/* .hero_svg{position: absolute; bottom: 0;} */
.server_services{padding: 0 0 50px 0;}
.section-title small {
    color: #177a0e;
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 15px;
    display: block;
}
.section-title h2 {
    color: #000c35;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 25px;
}
.section-title p {
    font-size: 16px;
    font-weight: 400;
}
/* .feature-item-thumb {
    flex: 0 0 90px;
    -ms-flex: 0 0 90px;
    max-width: 90px;
    width: 90px;
    margin-right: 30px;
    transform: translate(0px, 0px);
    transition: transform .3s cubic-bezier(.25,.55,.4,2.1) 0s;
} */
.feature-item-thumb i {
    font-size: 90px;
    color: #2647c8;
    background: linear-gradient(90deg, #2647c8 0%, #142d99 42%, #02126a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 100px;
}
.feature-item-inner {
    display: flex;
    box-shadow: 0 11px 35px 5px rgba(196, 196, 196, .21);
    padding: 40px 30px;
    border-radius: 3px;
}

.feature-item-content h3 {
    font-size: 26px;
    font-weight: 600;
    color: #000c35;
    margin-bottom: 15px;
}
.feature-item-content p {
    font-size: 16px;
    margin-bottom: 15px;
}
.feature-item-content a {
    font-size: 17px;
    display: inline-flex;
}
.gradient-text {
    color: #177a0e;
    background: #177a0e;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature-item-content a span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    color: #54ae4c;
    -webkit-text-fill-color: #54ae4c;
    background-color: #54ae4c;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.feature-item-content a span i {
    position: relative;
    font-size: 12px;
    z-index: 1;
    color: white;
    -webkit-text-fill-color: #fff;
}

.box-card-inner {
    padding: 30px;
    position: relative;
    transition: all .3s linear;
    border-radius: 3px;
    overflow: hidden;
}
.border-around {
    border: 1px solid #d8d8d8;
}
.box-card-inner.box-card-inner-2 {
    padding: 87px 30px 30px;
}
.box-number {
    background: linear-gradient(160deg, #177a0e 0%, #159407 50%, #177a0e 100%);
    color: #fff;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-card-details h3 {
    margin-bottom: 15px;
    color: #000c35;
    font-size: 26px;
    font-weight: 600;
}

.banner_section{
    background: linear-gradient(-160deg, rgba(38, 71, 200, 0.1) 0%, rgba(20, 45, 153, 0.1) 42%, rgba(2, 18, 106, 0.1) 100%);
    padding: 70px 0;
}
.banner_section li{
    margin-bottom: 25px;
    transition: all .3s ease;
}

.banner_section li:hover  i{
  background-color: #159407;
  color: white;
  transition: all .3s ease;
}

.about-text {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
    text-transform: capitalize;
    color: #000c35;
}
.banner_section h3 {
    font-size: 22px;
    color: #000c35;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.banner_section i {
  font-size: 16px;
  padding: 8px 9px;
  border-radius: 50%;
  background-color: white;
}

.support_section{padding: 70px 0;
    background: linear-gradient(160deg, #177a0e 0%, #159407 50%, #177a0e 100%);
}

 .about-content-item .about-text h3 {margin-bottom: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
 }
 .about-content-item .about-text p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.about-list-content i{font-size: 35px; color: #fff; margin-right: 15px;}
.about-list-content h3{  
      font-size: 18px;
    color: #fff;}
.about-list-content p{ 
    font-weight: 500;
    font-size: 24px;}
.about-list-content a{ 
    color: #fff;
    font-size: 28px;}



/*---Pricing PLan--------*/
.default-pricing-mt {
    margin-top: 30px;
}
.default-pricing-mt:nth-child(2) {
    margin-top: 0;
    position: relative;
    z-index: 1;
}
.pricing-item {
    box-shadow: 0 11px 35px 5px rgba(196, 196, 196, .21);
    background: #fff;
}

.pricing-item-header {
    padding: 25px;
    padding-bottom: 73px;
    text-align: center;
    border-radius: 0 0 15px 15px;
    position: relative;
    background: linear-gradient(160deg, #177a0e 0%, #159407 50%, #177a0e 100%);
    
}
.pricing-header-icon {
    width: 100px;
    height: 100px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.pricing-item-header h3 {
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.pricing-item-amount {
    padding: 25px;
    padding-top: 85px;
    margin-top: -10px;
    border-radius: 0 0 15px 15px;
}
.bg-off-white {
    background: #d2f6cd;
}
.pricing-item-amount p {
    font-size: 18px;
    color: #2647c8;
}
.pricing-item-amount .pricing-item-amount-number {
    font-size: 49px;
    color: #2647c8;
    font-weight: 500;
}
.pricing-item-amount .pricing-item-amount-number small {
    font-size: 22px;
    font-weight: 500;
}
.pricing-item-amount .pricing-item-amount-number span {
    font-size: 22px;
}
.pricing-item-body {
    padding: 25px;
}
.pricing-body-list li {
    display: flex;
    align-items: flex-start;
    font-size: 17px;
    color: #4f4f4f;
    margin-bottom: 10px;
}
.pricing-body-list i {color: #63c35a; font-size: 22px; margin-right: 10px;}
.pricing-body-list li .pricing-info-icon {
    margin-left: 5px;
    color: #b6b6b6;
    transition: all .3s linear;
    vertical-align: middle;
}
.pricing-body-list li .pricing-info-icon i {
    font-size: 20px; color: #b6b6b6;
}

.pricing-item-body .btn {
    margin-top: 15px;
    margin-bottom: 5px;
}
.btn-pill {
    border-radius: 35px;
}
.pricing-item-body .btn-gradient {
    background: linear-gradient(160deg,  #177a0e 0%, #159407 50%, #177a0e 100%);
    background-size: 300% 100%;
    color: #fff;
    transition: all .4s ease-in-out;
    font-size: 17px;
    font-weight: 400;
    border: 2px solid transparent;
    padding: 15px 35px;
}